/.venv
/__MACOSX
/__pycache__
/dataset
/models
/models_old
/runs
/runs_old
/results
src/__pycache__/basic_modules.cpython-38.pyc
src/__pycache__/cityscapes_dataset.cpython-38.pyc
src/__pycache__/cross_stitchnet.cpython-38.pyc
src/__pycache__/densenet.cpython-38.pyc
src/__pycache__/depthnet.cpython-38.pyc
src/__pycache__/mtan.cpython-38.pyc
src/__pycache__/nyuv2_dataset.cpython-38.pyc
src/__pycache__/segnet.cpython-38.pyc
src/__pycache__/splitnet.cpython-38.pyc
src/__pycache__/stan.cpython-38.pyc
src/__pycache__/trainer.cpython-38.pyc
src/__pycache__/utils.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
src/prova.ipynb